.table_center {
	width: 100%;
	cellspacing: 0;
	cellpadding: 0;
}

.table_inner {
	border: 1px dotted #f3c3f3;
	width: 800px;
	font-size: 18px;
	table-layout:fixed;
	padding: 5px;
	cellspacing: 0;
	cellpadding: 0;
}

.inner_td{
	border: 1px dotted #8000ff;
	text-align: center;
}

.go_to_index {
	text-align: center;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
}

.href_none {
	text-decoration: none;
}

a {
	text-decoration: none;
}